html{
  /*background-color: #edeff2;*/

}

  main{
    text-align: left;
  }
  h4{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: .15em;
    font-size: 22pt;
    /*color: #100f0a;*/
    /*color: #888785;*/
    /* color: #8eb06a; */
    /* background-color: #39dd57; */
    color: #39dd57;

    /*font-weight: 400;*/
    /*font-size: 26px;*/
    margin-bottom: 6px;
    margin-top: 10px;
  }
  #my-name{
    background-color: #39dd57;
    color: #fff;
    text-align: left;
    padding-left: 4px;
  }


  h5{
    color: gray;
  }

  #top{
    margin-top: 8%;
  }

  a{
    font-size: 18px;
    /*color: #878898;*/

    font-size: .9em;
    color: #39dd57;
    text-decoration: underline;
    transition: .3s;
    font-style: italic;

  }

  a:hover{
    color: #575664;
    /*margin-right: 22px;*/
    text-decoration: underline;
  }

  .main-image{
    border: 1px solid #dbd9fc;
    max-width: 100%;
    /*margin: 77.777px;*/
    width: 80px;

    border-radius: 50%;


    margin: 14px;
    margin-left: 0px;

    text-align: right;
    /*-webkit-box-shadow: 2px 11px 31px 0px rgba(130,136,140,1);
    -moz-box-shadow: 2px 11px 31px 0px rgba(130,136,140,1);
    box-shadow: 2px 11px 31px 0px rgba(130,136,140,1);*/
    /*filter: blur(1px);*/
  }

  .dolphin{
    width: 88px;
  }

  p{
    font-size: 18px;
    margin-bottom: 14px;
    /*font-family: 'Inconsolata', monospace;*/
    color: #888785;
  }

  a i{
    color: #39dd57;
    margin-right: 10%;
  }

  #social-links{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  #main-image-full{ display: block; }
  #main-image-mobile{ display: none; }
  @media (max-width: 550px){
    #social-links{
      text-align: center;
    }
    h4{
      text-align: center;
    }
    #main-image-full{ display: none; }
    #main-image-mobile{ display: block; }
  }

  #sig{
    margin-top: 42px;
    margin-bottom: 2px;
  }
