html{
  /*background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}

body{
  /*background-color: #DEE4EA;*/


  color: #4d4f51;






}

header{
  padding-top: 2px;
  margin-bottom: 14px;
}

#name{
  padding-left: 28px;
  position: relative;
  margin-bottom: -10px;
  color: #4E4F4F;
  letter-spacing: .6em;
  font-size: 3.1em;
  z-index: 2;
}

.container{
  /*margin-top: 12px;

  background: rgba(237, 241, 247, .8);
  border: 6px solid white;*/

}

p{
  margin-bottom: 0px;
  /*background: rgba(237, 241, 247, .5);*/
  font-size: .9em;
}

img{


  z-index: 1;
  border: 2px solid #BEBEBE;
  opacity: .7;
  max-width: 100%;
}

a{
  font-family: 'Roboto Mono', monospace;
  color: #6866AD;
  margin-right: 12px;
  margin-left: 12px;
  transition: .5s;

  font-size: 1em;
  letter-spacing: .03em;
  opacity: 1;
}

a:hover{
  opacity: .6;
  background-color: #6866AD;
  color: white;
  text-decoration: none;
}

.dash{
  color: #4C469A;
}

p{
  letter-spacing: .2em;
  margin: 6px;

}
